@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@400;700&display=swap");

:root {
   --bg-solid: #eea1f9;
   --bg-secondary: #5636dc;
   --bg-gradient: linear-gradient(
      225deg,
      rgba(86, 54, 220, 1) 0%,
      rgba(238, 161, 249, 1) 100%
   );
}

* {
   box-sizing: border-box;
}

a {
   color: black;
   transition: transform 300ms linear;
}

a:visited,
a:active {
   color: inherit;
   font-size: 1.15rem;
}

body {
   margin: 0;
   display: grid;
   place-items: center;
   height: 100vh;
   min-height: 640px;
   background-color: #f1f1f1;
   font-family: "Fira Sans", sans-serif;
   position: relative;
}

main {
   border-radius: 8px;
   box-shadow: 0 0 24px 0 #4e4e4eb0;
}

footer {
   position: absolute;
   bottom: 5%;
   left: 50%;
   transform: translateX(-50%);
}

.screen {
   width: 320px;
   height: 146px;
   color: #fefefe;
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
   background: var(--bg-solid);
   background: var(--bg-gradient);
}

.main-display {
   height: 104px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-size: 3rem;
   padding: 0 1rem;
   transform: translateY(10px);
}

.sub-display {
   height: 42px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding: 0 1.2rem 1rem;
}

.buttons {
   height: 400px;
   width: 320px;
   display: flex;
   flex-wrap: wrap;
   border-bottom-left-radius: 8px;
   border-bottom-right-radius: 8px;
   overflow: hidden;
   user-select: none;
}

.button {
   width: 25%;
   height: 20%;
   background: #fefefe;
   display: grid;
   place-items: center;
   font-size: 1.25rem;
   font-weight: bold;
}

.number {
   font-size: 1.3rem;
}

.w-2 {
   width: 50%;
}

.operator {
   background: #efefef;
}

.equals {
   background: var(--bg-solid);
   background: var(--bg-gradient);
   color: #fefefe;
}

.power {
   color: var(--bg-solid);
   font-weight: bold;
   border-right: 1px solid var(--bg-solid);
   border-bottom: 1px solid var(--bg-solid);
}

.small {
   font-size: 1.5rem;
}

.st-small {
   font-size: 0.75rem;
}

.number:hover {
   color: var(--bg-secondary);
}

.button:active {
   box-shadow: inset 0 0 3px 0 rgba(77, 77, 77, 0.753);
}

.operator:hover {
   color: var(--bg-secondary);
}

.theme-container {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-300px, -50%);
}

.theme-container > div {
   height: 60px;
   width: 60px;
   margin: 1.5rem;
   border: 3px solid black;
   border-radius: 8px;
}

.theme-title {
   margin: 0;
   text-transform: uppercase;
   text-decoration: underline;
   letter-spacing: -0.5px;
   font-size: 0.775rem;
   font-weight: bold;
   text-align: center;
   margin-bottom: -1rem;
}

.set1 {
   background: rgb(238, 161, 249);
   background: linear-gradient(
      225deg,
      rgba(86, 54, 220, 1) 0%,
      rgba(238, 161, 249, 1) 100%
   );
}

.set2 {
   background: hsla(335, 70%, 61%, 1);
   background: linear-gradient(
      45deg,
      hsla(335, 70%, 61%, 1) 0%,
      hsla(15, 79%, 64%, 1) 50%,
      hsla(39, 93%, 57%, 1) 100%
   );
}

.set3 {
   background: hsla(221, 73%, 63%, 1);
   background: linear-gradient(
      225deg,
      hsla(184, 70%, 54%, 1) 0%,
      hsla(221, 73%, 63%, 1) 100%
   );
}

.set4 {
   background: hsla(99, 100%, 74%, 1);
   background: linear-gradient(
      225deg,
      hsla(99, 100%, 74%, 1) 0%,
      hsla(173, 100%, 35%, 1) 100%
   );
}

.active {
   box-shadow: 0 0 10px 0 rgba(211, 4, 183, 0.781);
   outline: 2px solid hotpink;
}

.icon {
   transition: transform 300ms linear;
}

.icon:hover {
   transform: scale(1.15) translateX(2px);
}

@media (max-width: 600px) {
   .theme-container {
      display: none;
   }
}

@media (max-height: 700px) {
   footer {
      display: none;
   }
}
